<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tabala tareas</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    
    <ul class="navbar-nav ml-auto">


        <li class="nav-item" >Usuario : <a class="nav-link active" href="./login/"> <%=usuario[0].Nombre %> <%=usuario[0].apellidos %></a></li>
        <li class="nav-item"><a class="nav-link active" href="./tareas/crear?username=<%=usuario[0].username %>&id_usuario=<%=usuario[0].id_usuario %>"> Crear nueva tarea</a></li>
     
    </ul>
    
    <!-- Start: Table With Search -->
    <div class="col-md-12 d-inline search-table-col" style="width: 600.6px;"><span class="counter pull-right"></span>
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">ID<br></th>
                        <th id="trs-hd-2" class="col-lg-2"><br>Tarea<br></th>
                        <th id="trs-hd-3" class="col-lg-3"><br><strong>Descripcion de la tarea</strong><br></th>
                        <th id="trs-hd-4" class="col-lg-2"><br>Fecha<br></th>
                        <th id="trs-hd-5" class="col-lg-2">ID usuario</th>
                        <th id="trs-hd-6" class="col-lg-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <% for( let i = 0; i < tareas.length; i++ ) { %>
        
                        <tr>
                            <td> <%=tareas[i].id_tarea  %> </td>    
                            <td> <%=tareas[i].titulo_tarea  %> </td>
                            <td> <%=tareas[i].descp_tarea  %> </td>
                            <td> <%=tareas[i].fecha_creacion  %> </td>
                            <td> <%=tareas[i].id_usuario  %>- </td>
                            
                            <td> 

                                
                            
                            </div>
                            
                            <a href="./tareas/update?idtarea=<%=tareas[i].id_tarea %>&username=<%=usuario[0].username %>" class="btn btn-success" style="margin-left: 5px;width: 38px;" type="submit"><i
                               class="fa fa-pencil-square-o"></i></a>
                                    
                                <a href="./tareas/delete?idtarea=<%=tareas[i].id_tarea %>&username=<%=usuario[0].username %>" class="btn btn-danger"
                                style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></a>
                        </td>
                    </tr>

                    <% } %>      

                </tbody>
            </table>
        </div>
    </div><!-- End: Table With Search -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>